    
        h1 {
            height: 40px;
            width: 40px;
            background: black;
            margin: 50px auto;
            border-radius: 5px;
            position: relative;
            color: white;
        
    }    
    
    #anim {
        animation-name: colorful ;
        animation-duration: 5s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-iteration-count: infinite;
        
    }
        @keyframes colorful {
            0% {
                top: 0px;
                left: 0px;
            }
            50% {
                top: 50px;
                left: 50px;
                
            }
            100% {
                top: -50px;
                left: -50px;
            }
        }
