    body { 
        position: relative;
        background-color: #ff0004;
    }

    h1 {
        position: absolute;
        margin: auto;
        padding: 10px 0px 10px 0px;
        background-color: #ffee03;
        color: #000303;
        left: 0px; 
        top: 0px;
        right: 0px;
        font-size: 35px;
        text-align: center;
        
     
 }
 .navbar {
    background-color: white;
 }
    .menu {
        position: absolute;
        background-color:white;
        padding: 0px 0px 0px 0px;
        font-size: 26px;
        top:0px;
        left: 30px;
        margin: 20px;
        color: black;

    }
        .order {
            background-color: white;
            position: fixed;
            left: 250px;
            top: 10px;
            font-size: 26px;
            margin: 20px;


        }
            
            
                .contact {
                    position: fixed;
                    background-color:white;
                    right: 100px;
                    top: 10px;
                    font-size: 26px;
                    margin: 20px;
                }   
                    a:hover {
                        transform: scale(1.2);
                        color: blue;
                        background-color: teal;
                    }
                    .img {
                        width: 50px;
                        height: 50px;
                       position: fixed;
                       background-color:transparent;
                       top:15px;
                       right: 375px;

                    }
